.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-12,
.pure-u-2-12,
.pure-u-3-12,
.pure-u-4-12,
.pure-u-5-12,
.pure-u-6-12,
.pure-u-7-12,
.pure-u-8-12,
.pure-u-9-12,
.pure-u-10-12,
.pure-u-11-12,
.pure-u-12-12 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-12 {
    width: 8.3333%;
}

.pure-u-1-6,
.pure-u-2-12 {
    width: 16.6667%;
}

.pure-u-1-4,
.pure-u-3-12 {
    width: 25%;
}

.pure-u-1-3,
.pure-u-4-12 {
    width: 33.3333%;
}

.pure-u-5-12 {
    width: 41.6667%;
}

.pure-u-1-2,
.pure-u-6-12 {
    width: 50%;
}

.pure-u-7-12 {
    width: 58.3333%;
}

.pure-u-2-3,
.pure-u-8-12 {
    width: 66.6667%;
}

.pure-u-3-4,
.pure-u-9-12 {
    width: 75%;
}

.pure-u-5-6,
.pure-u-10-12 {
    width: 83.3333%;
}

.pure-u-11-12 {
    width: 91.6667%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-12-12 {
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-1-2,
    .pure-u-sm-1-3,
    .pure-u-sm-2-3,
    .pure-u-sm-1-4,
    .pure-u-sm-3-4,
    .pure-u-sm-1-6,
    .pure-u-sm-5-6,
    .pure-u-sm-1-12,
    .pure-u-sm-2-12,
    .pure-u-sm-3-12,
    .pure-u-sm-4-12,
    .pure-u-sm-5-12,
    .pure-u-sm-6-12,
    .pure-u-sm-7-12,
    .pure-u-sm-8-12,
    .pure-u-sm-9-12,
    .pure-u-sm-10-12,
    .pure-u-sm-11-12,
    .pure-u-sm-12-12 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-sm-1-12 {
        width: 8.3333%;
    }

    .pure-u-sm-1-6,
    .pure-u-sm-2-12 {
        width: 16.6667%;
    }

    .pure-u-sm-1-4,
    .pure-u-sm-3-12 {
        width: 25%;
    }

    .pure-u-sm-1-3,
    .pure-u-sm-4-12 {
        width: 33.3333%;
    }

    .pure-u-sm-5-12 {
        width: 41.6667%;
    }

    .pure-u-sm-1-2,
    .pure-u-sm-6-12 {
        width: 50%;
    }

    .pure-u-sm-7-12 {
        width: 58.3333%;
    }

    .pure-u-sm-2-3,
    .pure-u-sm-8-12 {
        width: 66.6667%;
    }

    .pure-u-sm-3-4,
    .pure-u-sm-9-12 {
        width: 75%;
    }

    .pure-u-sm-5-6,
    .pure-u-sm-10-12 {
        width: 83.3333%;
    }

    .pure-u-sm-11-12 {
        width: 91.6667%;
    }

    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .pure-u-med-1,
    .pure-u-med-1-1,
    .pure-u-med-1-2,
    .pure-u-med-1-3,
    .pure-u-med-2-3,
    .pure-u-med-1-4,
    .pure-u-med-3-4,
    .pure-u-med-1-6,
    .pure-u-med-5-6,
    .pure-u-med-1-12,
    .pure-u-med-2-12,
    .pure-u-med-3-12,
    .pure-u-med-4-12,
    .pure-u-med-5-12,
    .pure-u-med-6-12,
    .pure-u-med-7-12,
    .pure-u-med-8-12,
    .pure-u-med-9-12,
    .pure-u-med-10-12,
    .pure-u-med-11-12,
    .pure-u-med-12-12 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-med-1-12 {
        width: 8.3333%;
    }

    .pure-u-med-1-6,
    .pure-u-med-2-12 {
        width: 16.6667%;
    }

    .pure-u-med-1-4,
    .pure-u-med-3-12 {
        width: 25%;
    }

    .pure-u-med-1-3,
    .pure-u-med-4-12 {
        width: 33.3333%;
    }

    .pure-u-med-5-12 {
        width: 41.6667%;
    }

    .pure-u-med-1-2,
    .pure-u-med-6-12 {
        width: 50%;
    }

    .pure-u-med-7-12 {
        width: 58.3333%;
    }

    .pure-u-med-2-3,
    .pure-u-med-8-12 {
        width: 66.6667%;
    }

    .pure-u-med-3-4,
    .pure-u-med-9-12 {
        width: 75%;
    }

    .pure-u-med-5-6,
    .pure-u-med-10-12 {
        width: 83.3333%;
    }

    .pure-u-med-11-12 {
        width: 91.6667%;
    }

    .pure-u-med-1,
    .pure-u-med-1-1,
    .pure-u-med-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 58em) {
    .pure-u-lrg-1,
    .pure-u-lrg-1-1,
    .pure-u-lrg-1-2,
    .pure-u-lrg-1-3,
    .pure-u-lrg-2-3,
    .pure-u-lrg-1-4,
    .pure-u-lrg-3-4,
    .pure-u-lrg-1-6,
    .pure-u-lrg-5-6,
    .pure-u-lrg-1-12,
    .pure-u-lrg-2-12,
    .pure-u-lrg-3-12,
    .pure-u-lrg-4-12,
    .pure-u-lrg-5-12,
    .pure-u-lrg-6-12,
    .pure-u-lrg-7-12,
    .pure-u-lrg-8-12,
    .pure-u-lrg-9-12,
    .pure-u-lrg-10-12,
    .pure-u-lrg-11-12,
    .pure-u-lrg-12-12 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-lrg-1-12 {
        width: 8.3333%;
    }

    .pure-u-lrg-1-6,
    .pure-u-lrg-2-12 {
        width: 16.6667%;
    }

    .pure-u-lrg-1-4,
    .pure-u-lrg-3-12 {
        width: 25%;
    }

    .pure-u-lrg-1-3,
    .pure-u-lrg-4-12 {
        width: 33.3333%;
    }

    .pure-u-lrg-5-12 {
        width: 41.6667%;
    }

    .pure-u-lrg-1-2,
    .pure-u-lrg-6-12 {
        width: 50%;
    }

    .pure-u-lrg-7-12 {
        width: 58.3333%;
    }

    .pure-u-lrg-2-3,
    .pure-u-lrg-8-12 {
        width: 66.6667%;
    }

    .pure-u-lrg-3-4,
    .pure-u-lrg-9-12 {
        width: 75%;
    }

    .pure-u-lrg-5-6,
    .pure-u-lrg-10-12 {
        width: 83.3333%;
    }

    .pure-u-lrg-11-12 {
        width: 91.6667%;
    }

    .pure-u-lrg-1,
    .pure-u-lrg-1-1,
    .pure-u-lrg-12-12 {
        width: 100%;
    }
}

@media screen and (min-width: 75em) {
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-1-2,
    .pure-u-xl-1-3,
    .pure-u-xl-2-3,
    .pure-u-xl-1-4,
    .pure-u-xl-3-4,
    .pure-u-xl-1-6,
    .pure-u-xl-5-6,
    .pure-u-xl-1-12,
    .pure-u-xl-2-12,
    .pure-u-xl-3-12,
    .pure-u-xl-4-12,
    .pure-u-xl-5-12,
    .pure-u-xl-6-12,
    .pure-u-xl-7-12,
    .pure-u-xl-8-12,
    .pure-u-xl-9-12,
    .pure-u-xl-10-12,
    .pure-u-xl-11-12,
    .pure-u-xl-12-12 {
        display: inline-block;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-xl-1-12 {
        width: 8.3333%;
    }

    .pure-u-xl-1-6,
    .pure-u-xl-2-12 {
        width: 16.6667%;
    }

    .pure-u-xl-1-4,
    .pure-u-xl-3-12 {
        width: 25%;
    }

    .pure-u-xl-1-3,
    .pure-u-xl-4-12 {
        width: 33.3333%;
    }

    .pure-u-xl-5-12 {
        width: 41.6667%;
    }

    .pure-u-xl-1-2,
    .pure-u-xl-6-12 {
        width: 50%;
    }

    .pure-u-xl-7-12 {
        width: 58.3333%;
    }

    .pure-u-xl-2-3,
    .pure-u-xl-8-12 {
        width: 66.6667%;
    }

    .pure-u-xl-3-4,
    .pure-u-xl-9-12 {
        width: 75%;
    }

    .pure-u-xl-5-6,
    .pure-u-xl-10-12 {
        width: 83.3333%;
    }

    .pure-u-xl-11-12 {
        width: 91.6667%;
    }

    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-12-12 {
        width: 100%;
    }
}