.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-12,
.pure-u-2-12,
.pure-u-3-12,
.pure-u-4-12,
.pure-u-5-12,
.pure-u-6-12,
.pure-u-7-12,
.pure-u-8-12,
.pure-u-9-12,
.pure-u-10-12,
.pure-u-11-12,
.pure-u-12-12 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-12 {
    width: 8.3333%;
}

.pure-u-1-6,
.pure-u-2-12 {
    width: 16.6667%;
}

.pure-u-1-4,
.pure-u-3-12 {
    width: 25%;
}

.pure-u-1-3,
.pure-u-4-12 {
    width: 33.3333%;
}

.pure-u-5-12 {
    width: 41.6667%;
}

.pure-u-1-2,
.pure-u-6-12 {
    width: 50%;
}

.pure-u-7-12 {
    width: 58.3333%;
}

.pure-u-2-3,
.pure-u-8-12 {
    width: 66.6667%;
}

.pure-u-3-4,
.pure-u-9-12 {
    width: 75%;
}

.pure-u-5-6,
.pure-u-10-12 {
    width: 83.3333%;
}

.pure-u-11-12 {
    width: 91.6667%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-12-12 {
    width: 100%;
}